@model Alix_Milan.ViewModels.KitHireModel
@{
    ViewBag.Title = "Kit Hire";
    Layout = "~/Views/Shared/Front.cshtml";
}

<h1>Kit Hire</h1>

@if (Model.Categories.Any())
{
    <h2>Categories</h2>
    foreach (var category in Model.Categories)
    {
        <a href='@Url.Action("Category", "KitHire", new { id = category.Name })' class="project">
            <div class="overlay">
                <h3>
                    @category.Name
                </h3>
                @Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(category.ImageBytes) + "\" />")
            </div>
        </a>
    }
}

@if (Model.Kits.Any())
{
    <h2>Kits</h2>
    foreach (var kit in Model.Kits)
    {
        <a href='@Url.Action("Kit", "KitHire", new { id = kit.Name })' clas class="project">
            <div class="overlay">
                <h3>
                    @kit.Name
                </h3>
                @Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(kit.ImageBytes) + "\" />")
            </div>
        </a>
    }
}