@model Alix_Milan.ViewModels.KitModel

@{
    ViewBag.Title = "Kit Hire - " + Model.Name;
    Layout = "~/Views/Shared/Front.cshtml";
}

<h2>@Model.Name</h2>

@Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.ImageBytes) + "\" />")

<p>@Model.Description</p>

<p>£@Model.Price</p>

<h3>Items</h3>

@if (Model.KitItems.Any())
{
    <table class="table">
        <tr>
            <th>
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
            </th>
        </tr>

        @foreach (var item in Model.KitItems)
        {
        <tr>
            <td>
                @Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.ImageBytes) + "\" />")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                £@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.RouteLink("View details", "KitItem", new { kitItemName = item.Name })
            </td>
        </tr>
        }

    </table>
}
else
{
    <p>
        This kit has no items
    </p>
}

<p>
    @Html.ActionLink("Back to List", "")
</p>